<div class="gradient">
  <div class="container">
    <h1 class="text-center accent">Settings</h1>
    <div class='col-lg-10 offset-lg-1'>

      <div class="settings-section">
        <h2 class="accent settings-section__heading">Profile</h2>

        <div class="settings-card-content card-main">
          <i class="fa fa-pencil-square-o settings-card-content__edit-button" aria-hidden="true"></i>
          <div class="settings-card-content__picture">
            <%= image_tag @user.image, alt: "Profile Picture"%>
          </div>

          <%= form_for @user, html: { class: "settings-card-content__form" } do |form| %>
            <%= form.label :name, class: 'bold-label' %>
            <%= form.text_field :username, class: 'push-down', disabled: true %>

            <%= form.label :email, class: 'bold-label' %>
            <%= form.email_field :email, class: 'push-down settings-input', disabled: true %>
            <%= form.submit "Update" %>
          <% end %>
        </div>
      </div>

      <div class="settings-section">
        <h2 class="accent settings-section__heading">Learning Goal</h2>
        <div class="card-main">
          <i class="fa fa-pencil-square-o settings-card-content__edit-button" aria-hidden="true"></i>
          <%= form_for @user, html: { class: "settings-card-content__form" } do |form| %>
            <%= form.label :learning_goal, class: 'bold-label' %>
            <%= form.text_field :learning_goal, class: 'push-down' %>
            <%= form.submit "Update" %>
          <% end %>
        </div>
      </div>

      <div class="settings-section">
        <h2 class="accent settings-section__heading">Password</h2>
        <div class="card-main">
          <i class="fa fa-pencil-square-o settings-card-content__edit-button" aria-hidden="true"></i>

          <%= form_for @user, html: { class: "settings-card-content__form" } do |form| %>

            <%= form.label :current_password, class: 'bold-label' %>
            <%= form.password_field :current_password, placeholder: 'Current Password', class: 'push-down' %>

            <%= form.label :password, class: 'bold-label' %>
            <%= form.password_field :password, placeholder: 'New Password', class: 'push-down' %>

            <%= form.label :password_confirmation, class: 'bold-label' %>
            <%= form.password_field :password_confirmation, placeholder: 'Confirm New Password', class: 'push-down' %>

            <%= form.submit "Update" %>
          <% end %>
        </div>
      </div>

      <div class="delete-account-link text-center">
        <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>
</div>
